.box1 {
    height: 70px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.box2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 5px;
}
.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: green;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .button-area {
    text-align: center;
  }